/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(213, 19%, 20%);
}
.navbar {
  width: 75%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .navbar {
    width: 83%;
  }
}
@media (max-width: 550px) {
  .navbar {
    width: 90%;
  }
}
.navbar .logo {
  width: 60px;
}
@media (max-width: 550px) {
  .navbar .logo {
    width: 77px;
    margin-top: 3px;
  }
}
.navbar .logo img {
  width: 100%;
}
.navbar .social-icons {
  width: 200px;
  background-color: rgba(144, 170, 229, 0.2);
  padding: 15px 20px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
@media (max-width: 550px) {
  .navbar .social-icons {
    width: 261px;
  }
}
.navbar .social-icons a:visited {
  color: hsl(213, 19%, 20%);
}
@media (max-width: 550px) {
  .navbar .social-icons .fab {
    font-size: 2.7rem;
  }
}
.navbar .social-icons .fab:hover {
  color: white;
  cursor: pointer;
}
.main {
  width: 75%;
  margin: auto;
  margin-bottom: 150px;
  padding-top: 150px;
  color: hsl(213, 19%, 20%);
  font-family: circular std, sans-serif;
  height: 400px;
}
@media (max-width: 800px) {
  .main {
    width: 83%;
  }
}
@media (max-width: 550px) {
  .main {
    width: 90%;
  }
}
.main h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 550px) {
  .main h1 {
    font-size: 4.5rem;
  }
}
.main .line {
  height: 3px;
  width: 43%;
  background-color: #90aae5;
  margin: 20px 0;
}
.main h2 {
  font-size: 1.5rem;
  color: gray;
}
@media (max-width: 550px) {
  .main h2 {
    font-size: 1.6rem;
  }
}
.main img {
  width: 20%;
  margin-top: 30px;
}
.projects {
  margin: 0px auto 300px;
}
@media (max-width: 800px) {
  .projects {
    margin-bottom: 220px;
  }
}
@media (max-width: 550px) {
  .projects {
    margin-bottom: 150px;
  }
}
.projects .project-container {
  width: 60%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 100px;
}
@media (max-width: 800px) {
  .projects .project-container {
    margin-bottom: 85px;
    width: 70%;
  }
}
@media (max-width: 550px) {
  .projects .project-container {
    width: 90%;
    margin-bottom: 70px;
  }
}
.projects .project {
  width: 100%;
}
.projects .project img {
  width: 100%;
  height: 100%;
  margin-bottom: -3px;
}
.projects .project-text {
  padding: 20px;
}
.projects .project-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}
.projects .project-text a {
  color: black;
}

.projects .project-text a:hover {
  color: #90AAE5;
}


@media (max-width: 550px) {
  .projects .project-text h2 {
    font-size: 2.5rem;
  }
}
.projects .project-text .title-line {
  height: 3px;
  background-color: blue;
  margin: 20px 0;
  width: 20%;
}
.projects .project-text p {
  font-weight: bold;
  color: gray;
}
@media (max-width: 550px) {
  .projects .project-text p {
    font-size: 1.4rem;
  }
}
footer {
  background-color: #90AAE5;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  color: white;
}
footer h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 550px) {
  footer h3 {
    font-size: 2rem;
  }
}
footer .footer-line {
  height: 5px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 20px 0;
  border-radius: 3px;
}
footer p {
  font-size: 0.9rem;
}
@media (max-width: 550px) {
  footer p {
    font-size: 1.2rem;
  }
}
footer .icons {
  background-color: rgba(255, 255, 255, 0.2);
  width: 220px;
  padding: 15px 20px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
@media (max-width: 550px) {
  footer .icons {
    width: 280px;
  }
}
footer .icons a:visited {
  color: white;
}
@media (max-width: 550px) {
  footer .icons .fab {
    font-size: 3rem;
  }
}
footer .icons .fab:hover {
  color: hsl(213, 19%, 20%);
  cursor: pointer;
}
