/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: nowrap;

}
.navigation {
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    flex-wrap: nowrap;
    
}
a{
    color: lightgray;
    text-decoration: none;
}
    

.header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 3%;
  justify-content: space-evenly;
  border-bottom: solid 2px black;
  padding-bottom: 2%


}.title {
  font-size:80px;
  width: 50%;
  justify-content:space-around;
  text-align: center;
  

  
  
}
#button {
  display: inline-block;
  font-size: 24px;
  border: solid;
  padding-left: 30px;
  padding-right: 30px;
 
}
.top-img{
  max-width: 100%; 
}
.first{
	display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
 .first-section {
   padding: 2%;
 margin: 0 auto;
  
}
.second-image{
  display:flex;
  justify-content: center;
  margin: 2%;

}
.middle-img{
  max-width: 100%;
}


.second{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;

}
.second-section{
  margin: 0 auto;
  padding: 2%;

}
.last-section{
  display: block;
  margin: 2%;
  padding-top: 30px;
  border-top: solid black 2px;

}
.last-section h5{
  font-size: 1rem;
}
.last-section p{
  font-size: 1rem;
}
.copyright{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-size: 25px;
  align-items: flex-end;
}
@media (max-width: 800px) {
    .nav{
        flex-direction: column;

    }
    .logo{;
        order: -1;
        align-self: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .title{
        justify-content: center;
        width:60%;
        margin: 5%;
    }
    .top-img {
        display: none;
    }

}
@media (max-width: 500px){
    .navigation{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .tag{
      padding: 20px 250px 20px 250px;
        border: solid 1px grey;
    }
    .first{
        flex-direction: column;
        width:100%;
    }
    .second{
        flex-direction: column;
        width:100%;
    }
    .last-section h5{
      font-size: 1rem;
    }
    .last-section p{
      font-size: 1rem;
    }
    .copyright{
      font-size: 1rem;
    }
}