/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Ubuntu", sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
  color: #23293b;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-family: "Russo One", sans-serif;
  color: #23293b;
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
.about-me {
  margin: 0 auto;
}
.port-text {
  margin: 0 auto;
}
.contact-text {
  margin: 0 auto;
}
footer {
  width: 100%;
  color: #22283B;
  background-image: linear-gradient(to top, rgba(0, 81, 180, 0.348), rgba(241, 241, 241, 0.348));
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro {
  background: rgba(255, 255, 255, 0.7);
  max-width: 800px;
  max-height: 500px;
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 20px;
}
.home .intro div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home .intro div h2 {
  margin: 0px 40px;
  padding: 10px 20px;
}
.home .intro div p {
  margin: 10px 40px;
  padding: 10px 20px;
  text-align: center;
}
.home .intro .btn {
  margin: 0 20px;
  height: 40px;
  width: 100px;
  background: #23293b;
  color: rgba(241, 241, 241, 0.348);
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "Russo One", sans-serif;
}
@media (max-width: 500px) {
  .home .intro .btn {
    width: 100%;
    height: 80px;
  }
}
.home .intro .btn:hover {
  background: rgba(241, 241, 241, 0.348);
  color: #23293b;
}
.home .change2 {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.home #webcont {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 250px;
  height: 1px;
}
.home article {
  display: none;
}
.home .change {
  position: relative;
  top: -300px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 5px;
  max-height: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
.home .change .cont-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #454a59;
}
.home .change .scrl {
  width: 100%;
  height: 500px;
  padding: 15px;
  overflow: auto;
}
.home .change .close {
  margin: 0 20px;
  height: 40px;
  width: 100px;
  background: #23293b;
  color: rgba(241, 241, 241, 0.348);
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "Russo One", sans-serif;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 500px) {
  .home .change .close {
    width: 100%;
    height: 80px;
  }
}
.home .change .close:hover {
  background: rgba(241, 241, 241, 0.348);
  color: #23293b;
}
.header {
  position: relative;
  width: 100%;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 81, 180, 0.348), rgba(241, 241, 241, 0.348));
}
.header h1 {
  margin: 10px auto 0px;
}
