html {
	font-size: 16px;
}
@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	text-align:center;
}

header h1 {
	margin: 0;
	padding: 38px 0;
	width:100%;
	
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 0;
	list-style: none;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image {
	height: auto;
	width: 100%;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
	
}



.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


@media screen and (min-width: 768px) {
	.bottom-section  {
		justify-content: space-between;
		align-items: flex-start;
		border: 1px solid #eee;
	}

	.section-one, .section-two,
	.section-three {
		flex-basis: 30%;
		border-top: none;
	}
}

@media screen and (min-width: 1200px) {
	header {
		justify-content: space-between;
	}

	header h1 {
		width: 30%;
		border-bottom: none;
	}

	header nav {
		width: 40%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}
}