/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline darkorchid;
  }  

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 800px;
    margin: 0 auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

header{
    display: flex;
    align-content: center;
    padding-top: 20px;
    padding-bottom:20px;
}

nav{
    align-items: flex-end; 
	display: flex;
	justify-content: space-around; 
}

a.nav{
    color:black;
    width: 120px;
    padding-left: 20px;
    padding-right: 20px;
}

img.navlogo{
    display: flex;
    justify-content: flex-start;
}

div.header-img{
    padding-top: 20px;
    padding-bottom:20px;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.text-container2{
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px; 
    border-bottom: 1px dashed black;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}


footer nav a {
    color: white;
    text-decoration: none;
}
footer nav a:hover{
    color:darkorchid;
}

#box1{
    background-color: teal;
}
#box2{
    background-color: gold;
}
#box3{
    background-color: cadetblue;
}
#box4{
    background-color: coral;
}
#box5{
    background-color: crimson;
}
#box6{
    background-color: forestgreen;
}
#box7{
    background-color: darkorchid;
}
#box8{
    background-color: hotpink;
}
#box9{
    background-color: indigo;
}
#box10{
    background-color: dodgerblue;
}

#box1:hover{background-color: gold;}
#box2:hover{background-color: teal;}
#box3:hover{background-color: gold;}
#box4:hover{background-color: crimson;}
#box5:hover{background-color: coral;}
#box6:hover{background-color: darkorchid;}
#box7:hover{background-color: hotpink;}
#box8:hover{background-color: indigo;}
#box9:hover{background-color: cadetblue;}
#box10:hover{background-color: indigo;}


/*specific to about.html below*/

a.learn{
    display: inline-block;
    border: 2px solid black;
    color: black;
    text-align: center;
    border-radius: 5px;
    width:120px;
    padding: 5px;
    margin: 2px;
}

a.learn:hover{
    background-color: darkorchid;
}

img.content{
    padding-bottom: 10px;
}

p.content{
    padding-bottom: 20px;
}

section.blurb{
    margin-bottom: 20px; 
    border-bottom: 1px dashed black;
}
h3.blurb{
    padding-left:20px
}
p.blurb {
    padding:20px;
}

div.together{
    padding: 20px;
}


div.blurb{
    padding-bottom:20px;   
    padding-left:20px;
    padding-right:20px;
    border-bottom: dashed 1px black;
}

div.flexwrapper{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}