// Home Content

.home {

  img {
      
    @media @mobile {
      width: 100%;
      border-radius: 10px;
    }
  }
  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }
}// home