// Navigation code here
.header {
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: @nav-bg;

    h1 {
        margin: 10px auto 0px;
    }

    nav {
        display: flex;
        margin: 5px auto;

        a {
            margin: 10px 20px;
            text-decoration: none;
            justify-content: space-around;
            color: @nav-font;     
            font-size: 1.8rem;
            line-height: 1.4;
        }
    }
}