/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.navigation {
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;;

}

.navigation a{
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box1 {
    width: 12.5%;
    height: 100px;
    background-color: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box2 {
    width: 12.5%;
    height: 100px;
    background-color: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box3 {
    width: 12.5%;
    height: 100px;
    background-color: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box4 {
    width: 12.5%;
    height: 100px;
    background-color: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box5 {
    width: 12.5%;
    height: 100px;
    background-color: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box6 {
    width: 12.5%;
    height: 100px;
    background-color: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box7 {
    width: 12.5%;
    height: 100px;
    background-color: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box8 {
    width: 12.5%;
    height: 100px;
    background-color: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box9 {
    width: 12.5%;
    height: 100px;
    background-color: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box10 {
    width: 12.5%;
    height: 100px;
    background-color: dodgerblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    width:100%;
}

.bottom-content .text-container {
    display: inline-block;
    padding-right: 4%;
    width: 33%
}
.bottom-content .text-container:last-child {
    padding-right: 0;


}
.final-section {
    background: black;
}

footer nav {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
header {
    display: block;
    border-bottom: dotted lighgrey;

}
.top{
    display:block;
    margin-top:60px;
    margin-bottom:450px;
}
.container1 {
  margin-top:50px;
    display:flex;
    width: 100%;
    justify-content: space-around;
}
.container2{
  margin-top: 50px;
    display:flex;
    flex-direction: column;
    width: 50%;
    float:right;
}
.button {
    display:inline-block;
    border:solid 2px black;
    border-radius: 10px;
    padding: 2%;
}
.page-two-top-photo{
    display:flex;
    max-width: 100%;
    margin: 0 auto;
}
.bottom{
    
    display:block;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: dotted lightgrey;
}