* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
    height: 100vh;
    width: 75%;
    margin: auto;
}

.box {
    height: 90%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    width: 500px;
}

.box2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 800;
    font-size: 50px;
    color: #0E252D;
    line-height: 60px;
    margin-bottom: 18px;
    text-align: center;
}

p {
    font-size: 22px;
    margin-top: 10px;
    color: #58626D;
    line-height: 30px;
    text-align: center;
}

a {
    margin: 25px;
    text-decoration: none;
    color: #58626D;
    font-size: 16px;
}

::selection {
    background: #00ADBF; /* WebKit/Blink Browsers */
    color: white;
  }


  @media (max-width: 550px) {
    ul { 
        display: flex;
        flex-direction: column;
        align-items; center;
    }

    a {
        text-align: center;
    }


    .container {
        height: 100vh;
        width: 75%;
        margin: auto;
    }

    .box {
        height: 60%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
