@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import "font-awesome/fontawesome.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";
@import "font-awesome/regular";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600');

// Breakpoints.

@include breakpoints((
        xlarge: (1281px, 1680px),
        large: (981px, 1280px),
        medium: (737px, 980px),
        small: (481px, 736px),
        xsmall: (361px, 480px),
        xxsmall: (null, 360px)
));

// Mixins.

@mixin color($p) {
  @include color-typography($p);
  @include color-box($p);
  @include color-button($p);
  @include color-features($p);
  @include color-form($p);
  @include color-icon($p);
  @include color-list($p);
  @include color-section($p);
  @include color-table($p);
}

// Base.

@import 'base/reset';
@import 'base/page';
@import 'base/typography';

// Component.

@import 'components/row';
@import 'components/box';
@import 'components/button';
@import 'components/features';
@import 'components/form';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/actions';
@import 'components/icons';
@import 'components/contact-icons';
@import 'components/section';
@import 'components/table';
@import 'components/carousel';
@import 'components/spotlight';
@import 'components/wrapper';
@import 'components/feedback';

// Layout.

@import 'layout/header';
@import 'layout/menu';
@import 'layout/banner';
@import 'layout/footer';
@import 'layout/page-wrapper';


