.home {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px groove whitesmoke;
    border-bottom: 1px groove whitesmoke;
    padding: 0 25px;

    h1 {
        font-size: 5rem;
        margin: 33.5px -50px;
    }

    h4 {
        font-size: 2rem;
        font-weight: 50;
    }
}