@import '../../variables';

div.About {
    @include flex($direction: column, $align: center);
    width: 100%;
    
    h1 {
        font-size: 5rem;
    }
    
    img {
        margin: 0 auto;
        border-radius: 50%;
        width: 150px;
    }
    
    p {
        white-space: pre-line;
        font-size: 2rem;

        a {
            color: #75e8ff;
            mix-blend-mode: difference;
        }

    }

}
