.App {
    width: 100%;
    height: 100%;
    margin: 0 auto 20px;
    background: linear-gradient(#00000095, #00000095), url(./images/const-tex.jpg) no-repeat center bottom / cover;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;

    .smileBlank {
        padding: 50px;
    }

    .smile {
        transform: rotate(13deg);
        position: relative;
        padding: 50px;
        top: 120px;
        border: 1px groove whitesmoke;
        border-radius: 50%;
        background: url(./images/smile.jpg) no-repeat center center / contain;
        z-index: 1;

        &.top {
            margin-top: -7rem;

            @media (max-width: 570px) {
                margin-top: -5rem;
            }
        }

        @media (max-width: 570px) {
            margin-top: 17rem;
        }
    }

    .routes {
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 2s ease;

        @media (max-width: 570px) {
            width: 85%;
            text-align: center;
        }
    }

    nav {
        width: 100%;
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: column;
        z-index: 50;

        @media (max-width: 570px) {
            position: absolute;
            width: 90%;
        }

        div {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-around;
            padding: 25px 0;
            background: linear-gradient(#0f2b2bbb, transparent);
            border-top: 2px groove #20383850;
            z-index: 50;
            transition: 2s ease;
            position: relative;
            top: 0px;

            @media (max-width: 570px) {
                flex-wrap: wrap;
                height: 25rem;
                margin-bottom: -3rem;
            }

            &.hide {
                top: -8rem;
                margin-bottom: -9rem;

                @media (max-width: 570px) {
                    top: -28rem;
                    margin-bottom: -2rem;
                }
            }

            span {
                color: whitesmoke;
                text-decoration: none;
                text-align: center;
                padding: 1.5rem 7.5rem;
                background: #20383850;
                border-radius: 15px;
                border: 2px ridge #005a59;
                transition: .5s ease-out;
                font-size: 1.5rem;
                cursor: pointer;

                @media (max-width: 800px){
                    padding: 1.5rem 5rem;
                }

                @media (max-width: 570px) {
                    width: 90%;
                }

                &:hover {
                    background: #203838;
                }
            }
        }

        i {
            position: relative;
            top: -15px;
            align-self: center;
            cursor: pointer;
            transition: 2s ease;
            font-size: 1.5rem;
            z-index: 50;
            color: whitesmoke;

            &.hide {
                top: 0px;

                @media (max-width: 570px) {
                    position: absolute;
                }
            }

            @media (max-width: 570px) {
                font-size: 5rem;
            }
        }

        &.hide {
            margin-bottom: -7rem;

            @media (max-width: 570px) {
                margin-bottom: -5rem;
            }
        }
    }
}