
	/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* new code */

.container {
	width: 80%;
	max-width: 880px;
	margin: 0 auto;
	padding-top: 120px;
}

.logo {
  display: inline-block;
  width: 15%;
}

.nav-bar {
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 2;
}

.nav-bar .nav-container {
	display: flex;
	width: 100%;
	max-width: 880px;
	padding: 40px 0;
	align-items: center;
	justify-content: space-between;
	align-self: center;
	margin: 0 auto;
}

.nav-bar nav {
	justify-content: space-between;
}

.nav-bar nav a {
	color: #C0C0C0;
	text-decoration: none;
}

.nav-bar nav a:first-child {
	margin-right: 30px;
}

.nav-bar nav a:not(:first-child) {
	margin: 0 30px;
}

.nav-bar .nav-container div {
	width: 83px;
	height: 36px;
}

.nav-bar .nav-container div a {
	display: block;
	width:100%;
	height:100%;
}

header {
	padding: 50px 0;
	display: flex;
}

header .two {
	width: 500px;
	height: 390px;
}

header .two .main-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

header .two .main-heading .heading-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

header .two .main-heading .heading-container h1 {
	font-size: 56px;
	text-align: center;
}

header .two .main-heading .heading-container button {
    padding: 10px 20px;
	background: none;
	border: 1px solid black;
}

header .one {
	width: 390px;
	height: 390px;
}

section.details {
	display: flex;
	padding: 20px 0;
}

section.details div {
	width: 440px;
}

section.more-details div {
	padding-bottom: 30px;
}

section.details .features {
	margin-right: 5px;
}

section.details .about {
	margin-left: 5px;
}

.full-width-image {
	display: flex;
	width: 90%;
	height: 186px;
	padding: 20px 0 20px;
}

#about  {
	background-attachment: fixed;
	height: 400px;
}



.line {
	width: 100%;
	height: 1px;
	background: black;
	margin: 30px 0 10px;
}

section.contact {
	display: block;
	width: 200px;
	padding: 20px 0;
}

section.contact address {
	padding-bottom: 10px;
}

section.contact a {
	display: flex;
	justify-content: flex-start;
	text-decoration: none;
	color: black;
	padding: 10px 0;
}

footer {
	display: flex;
	justify-content: center;
	padding: 50px 0 110px;
}


.line-bold {
	width: 100%;
	height: 2px;
	background: black;
	margin: 30px 0 20px;
}


#navigation {
	overflow: hidden;
}

/* 800px*/
@media screen and (max-width: 800px) {
  
    .nav-container .nav-bar {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .nav-bar .nav-container {
        width: 100%;
      margin-bottom: 0 auto;
      align-items: center;
    }

    .nav-bar .nav-container nav {
        padding-top: 20px;
    }
  
    .one {
        display: none;
    }

    .two {
        align-self: center;
        align-content: center;
        width: 100% !important;
        max-height: 220px;
    }
  
  .full-width-image .middle-img{
    width: 110%;
  }
}
/* 500px*/
@media screen and (max-width: 500px) {
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    padding: 50px;
    
  }
  
    .nav-bar .nav-container{
        align-items: center;
        width: 100%;
        padding: 0;
        height: 30px;
      
    }
 
  nav a{
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 100%;
    border: 1px solid silver;
    
  }
  
  
    .navigation-bar .nav-container {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
      
    }

    .navigation-bar .nav-bar  nav{
        border-bottom: 1px solid silver;
        width: 100%;
    }

    .navigation-bar .nav-container nav {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #C0C0C0;
    }

    .one {
        display: none;
    }

    .two {
        align-self: center;
        align-content: center;
        width: 100% !important;
        max-height: 220px;
        margin-top: 150px;
    }

    .details, .service-class {
        flex-direction: column;
    }

    .details .features, .details .about, .service-class div {
        width: 100% !important;
        padding: 20px 0;
    }

}