img{
  width: 100% !important;
  height: auto;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.contact-method a:hover{
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
}
#header a img{
  width: 40px !important;
  height auto;
  opacity: .8;
}
#header a span{
  position: relative;
  top: -20px;
}
#one img{
  box-shadow: 0 8px 6px -6px black;
}
#menu img{
  width: 60px !important;
  opacity: .8;
}

.goBack{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 40px;
  height: 100px;
  border-radius: 0 10px 10px 0;
}
.goBack i{
  color: #222;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
  opacity: .8;
  max-width: 40px;
  height: auto;
}
.goback a{
  height: 200px !important;
}

.contact-method i{
  width: 100px;
  height: auto;
}
/*=================================================================
Tooltip styles
=================================================================*/
/*using tooltip causes it to break for some reason*/
.helptool{
  display: none;
}
a:hover + .helptool{
  opacity: 100% !important;/*doesnt change opacity*/
  display: block;
  z-index: 1000;
  position: absolute;
  top: 25px;
  left: 48px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  box-shadow: 5px 10px 40px #000;
}
.helptool p{
  text-align: center;
  font-size: 1.2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*====================================================================
Experimental Code
=====================================================================*/

.is-flipped {
  transform: rotateY(180deg);
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}
