/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Rubik', sans-serif;

/*Color Variables*/
$primary-color: #4458dc;
$primary-color2: #854fee;
$title-color: #000000;
$text-color: #777777;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700');
