@import 'variables';


div.App {
    @include flex(column, flex-start, center, wrap);
    max-width: 100%;

    nav {
        @include flex(row, center, center);
        width: 100%;
        min-height: 50px;
        height: 10%;
        position: fixed;
        background: linear-gradient($mid 90%, 95%, transparent 100%);
        z-index: 5;

        @media (max-width: 500px) {
            width: 100%;
        }

        a {
            font-size: 2rem;
            color: whitesmoke;
            text-decoration: none;
            padding: 5px 15px;
            margin: 0 5px;
            outline: none;

            &.home{
                &:hover ~ hr {
                    @include transform(translate(-139px, 10px) !important);
                    width: 5rem !important;
                }
                
                &.active ~ hr{
                    @include transform(translate(-139px, 10px));
                }
            }
            
            &.about {
                &:hover ~ hr {
                    @include transform(translate(-52.5px, 10px) !important);
                    width: 5rem !important;
                }
                
                &.active ~ hr {
                    @include transform(translate(-52.5px, 10px));
                }
            }
            
            &.work {
                &:hover ~ hr,
                &.active ~ hr {
                    @include transform(translate(33px, 10px));
                    width: 4.25rem;    
                }
            } 
            
            &:nth-child(4).active ~ hr, 
            &:nth-child(4):hover ~ hr {
                @include transform(translate(128px, 10px));
                width: 70px;
            }

        }

        hr {
            width: 50px;
            position: absolute;
            border: 1px solid white;
            @include transform(translate(-139px, 10px));
            user-select: none;
            z-index: -1;
            transition: .5s ease-in-out;
        }

    }

    div.Routes {
        margin: 75px 25px 0;
        min-height: 65vh;
        width: calc(100%-50px);
    }
        
    footer {
        @include flex($justify: space-around);
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto 20px;
        transition: 1s ease-out;

        @media (max-width: 500px) {
            width: 100%;
        }

        h2 {
            width: 100%;
            text-align: center;
        }

        div {
            @include flex($direction: column, $align: center);
            transition: 0.3s ease-out;

            &:hover {
                @include transform(scale(1.2));
            }

            svg.Link {
            font-size: 5rem;
            cursor: pointer;
            color: $mid;
            }
        }
    }
    
}
