@import 'variables';

div.App {
    @include flex($direction: column, $align: center);
    flex-wrap: wrap;
    padding: 0 25px;
    width: 96.3%;

    nav {
        margin: 20px auto 0;
        @include flex($justify: space-evenly);

        a {
            font-size: 2rem;
            color: whitesmoke;
            text-decoration: none;
            transition: .3s ease;
            background: transparent;
            border-radius: 50px;
            padding: 5px 15px;
            margin: 0 5px;
            
            &:hover, &.active {
                background: whitesmoke;
                color: $mid;
                transform: scale(1.1);
            }

            &.active {
                cursor: default;
            }

        }

    }

    div.Routes {
        min-height: 70vh;
        width: 100%;
    }

    footer {
        @include flex($justify: space-around);
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto 20px;
        transition: 1s ease-out;
        
        h2 {
            width: 100%;
            text-align: center;
        }
        
        svg.Link {
            font-size: 5rem;
            transition: .3s ease-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }

        }

    }
    
}
