@import 'variables';

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient($bg-header, $bg-header, whitesmoke) fixed;
    font-family: $body-font;
    color: #001a1a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
