@import 'variables';

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient($mid, $dark) fixed;
    font-family: $body-font;
    color: $accent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
