@import 'variables';

html {
    font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: $light;
  font-family: $body-font;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
