$mid: #099;
$accent: #03D4FE;
$dark: #001a1a;

$header-font: 'Gugi', cursive;
$body-font: 'Do Hyeon', sans-serif;

@mixin flex($align: flex-start, $justify: flex-start, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}
