/* This line is importing the font 'Roboto'. DO NOT change line 2*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
@import '../Header/Header.less';
@import "../Article/Article.less";
@import "../Menu/Menu.less";
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fffef7;
}