::-moz-selection {
  background: #9b218e;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #9b218e;
  color: #fff;
  text-shadow: none;
}


a {
	color: #9b218e;
}

a:hover {
	color:#691760;
}

footer .nav-list li a:hover,footer ul.regular li a:hover  {
	color:#691760;
}

.btn-link:hover {
  color: #691760;
}

.btn-theme {
  background: #9b218e;
}
.btn-theme:hover,
.btn-theme.active,
.btn-theme.disabled,
.btn-theme[disabled] {
  background: #691760;
  *background: #691760;
}

.rheading span {
  background: #9b218e;
}
/* sequence slider */

.info  h2{
	background: #9b218e;
}


/* iview slider */
.iview-caption.caption-theme {
	background: #9b218e;
}

/* flexslider */
.flex-caption {
	border-bottom: 2px solid #9b218e;
}

/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #9b218e;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #9b218e;
}

/* header */
.navbar .nav li.active a {
	background:#9b218e;
}
.navbar .nav li.active a:hover {
	background:#691760;
}

.color {
	background: #9b218e;
	color:#fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #9b218e;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

/* sequence slider */
.sequence-nav .next:hover,.sequence-nav .prev:hover {
	background: #9b218e;
}


/* jcarousel */
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
	background-color:#9b218e;
}

/* breadcrumb */
.breadcrumb {

}

/* call action */
.call-action {
	border-left:5px solid #9b218e;
}

/* box */

.features:hover .box {
	border-bottom: 2px solid #9b218e;
}

/* accordion */
.accordion-heading a:hover {
	color: #9b218e;
}
.accordion-heading .active{
	color: #9b218e;
}

/* tab */
.tabs-top .nav-tabs > li.active > a:hover,
.tabs-top .nav-tabs > li.active > a { border-top-color: #9b218e; }

/* pricing box */
.priceBox.special .emphasis {
  background: #9b218e;
}

/* tagline */
.tagline {
	border-bottom:5px solid #9b218e;
}



/* button */
.btn-link {
	color: #9b218e;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #9b218e;
  border-bottom-color: #9b218e;
}



/* tabs */
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #9b218e;
}

/* accordion */
.accordion-heading a.accordion-toggle:hover {
	color: #9b218e;
}

/* label */
.label-orange,
.badge-orange {
  background-color: #9b218e;
}


/* nav */
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background: #9b218e;
}


.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background: #9b218e;
}

.nav .dropdown-toggle .caret {
  border-top-color: #9b218e;
  border-bottom-color: #9b218e;
}

/* custom progress bar according template skin */
.progress-orange .bar,
.progress .bar-orange {
  background: #9b218e;
}

.progress-orange.progress-striped .bar,
.progress-striped .bar-orange {
  background: #9b218e;
}

/* pagination */

.pagination ul li a:hover {
  background: #9b218e;
  border-color:#9b218e;
}


/* widget */
aside .widget ul.cat li a:hover {
	color: #9b218e;
}

aside .widget ul.tags li a {
  background: #9b218e;
}

aside .widget ul.recent-posts li a:hover {
	color: #9b218e;
}

/* flickr footer badge */

footer .widget .flickr-badge img:hover {
	border:2px solid #9b218e;
}

/* blog */

.post-meta {
	border-left:2px solid #9b218e;
}

.entry-body a h5.title:hover {
	color: #9b218e;
}

article.blog-post .post-heading h3 a:hover {
	color:#9b218e;
}

article.last-post {
	background: #9b218e;
}

ul.time-post li.year{
	border-bottom:1px solid #9b218e;
}

section#subintro {
	background: #9b218e;
}

/* footer */



 /* 404 */
 

.error-body{
	background:#9b218e;
	padding:20px;
	text-align:center;
}


/* misc */
a.thumbnail:hover {
  border-color: #9b218e;
}

ul.filter li.active a:hover,.flex-control-nav li a:hover, .flex-control-nav li a.active{
	background: #9b218e;
}

.thumbnail h4 a:hover, .thumbnail .meta  span a:hover, ul.recent li h6 a:hover, ul.post-meta li a:hover, .media-body span, .media-body .media-heading a:hover, form label span, article.last-post h5 a:hover{
	color: #9b218e;
	text-decoration:none;
}