@import '../../variables';

div.Work {
    @include flex($direction: column, $align: center);
    margin-bottom: 50px;
    
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }
    
    div.Project {
        width: 100%;
        background-size: contain;
        text-align: center;
        height: 150px;
        cursor: pointer;
        background-attachment: fixed;
        background-position: center;
        
        p {
            color: whitesmoke;
            font-size: 2rem;
            padding: 0 20%;
            white-space: pre-line;
            user-select: none;
        }
        
        &.BlackHole {
            background-image: linear-gradient(#000000aa, #000000aa), url(../../images/blackhole.png);
            
            &:hover {
                background-image: linear-gradient(#00000080, #00000080), url(../../images/blackhole.png);
            }
            
        }
        
        &.Howl {
            background-image: linear-gradient(#000000aa, #000000aa), url(../../images/howl.png);
            
            &:hover {
                background-image: linear-gradient(#00000080, #00000080), url(../../images/howl.png);
            }

        }

        &.Chao {
            background-image: linear-gradient(#000000aa, #000000aa), url(../../images/chao.png);
            
            &:hover {
                background-image: linear-gradient(#00000080, #00000080), url(../../images/chao.png);
            }

        }

    }

}
